.header {
    background-color: rgb(245, 210, 210);
    border: solid 1px red;
  }
  
  .header ul {
    display: flex;
  }
  
  .nav--link {
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
  }
  
  .nav--link:hover {
    color: rgb(25, 194, 171);
  }